{% extends 'base.html' %}
{% load static %}
{% block title %}leave{% endblock%}

{% block body %}
 <!-- navbar -->
 <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"><b>WE <span style="color:rgb(150, 10, 75)">CARE</span></b></a>
            <div class="bottom-border pb-3">
              <!-- <img src="images/admin.jpeg" width="50" class="rounded-circle mr-3"> -->
              <a href="#" class="text-white">hello {{user.username}}</a>
            </div>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item"><a href="show_dept" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-light fa-lg mr-3"></i>Department</a></li>
              <li class="nav-item"><a href="doctor" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Doctor</a></li>
              <li class="nav-item"><a href="leave_form" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-envelope text-light fa-lg mr-3"></i>Availability</a></li>
              <li class="nav-item"><a href="patient" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wheelchair text-light fa-lg mr-3"></i>Patient</a></li>

              
            </ul>
          </div>
          <!-- end of sidebar -->

          <!-- top-nav -->
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-light fixed-top py-2 top-navbar" >
            <div class="row align-items-center">
              <div class="col-md-4">
                <h4 class="text-light text-uppercase mb-0" >ADMIN PANEL</h4>
              </div>
              <div class="col-md-5">
                <!-- <form>
                  <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Search...">
                    <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>
                  </div>
                </form> -->
              </div>
              <div class="col-md-3">
                <ul class="navbar-nav">
                  <!-- <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                  <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li> -->
                  {% if user.is_authenticated %}
                  
                  <li><a href="logout"></a><i class="fas fa-sign-out-alt text-danger fa-lg"></i>logout</li>
                {% endif %} 
                </ul>
              </div>
            </div>
          </div>
          <!-- end of top-nav -->
        </div>
      </div>
    </div>
  </nav>
 
  <!-- end of navbar -->

  <!-- modal -->
  <!-- <div class="modal fade" id="sign-out">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Want to leave?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Press logout to leave
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- end of modal -->

  <!-- form for dept -->
  <div class="col-xl-10 col-lg-9 col-md-8 ml-auto" >
    <div class="row align-items-center">
      <div class="col-xl-12 col-12">
        <div class="card mt-5">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <form class="form-inline my-2 my-lg-0" method="post" action="./search">
                  {% csrf_token %} 
                 <input type="search" class="form-control mr-sm-4" name="srh" id="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search  mr-3"></i>Search</button>
                  
                 </form>
                 
              </div>
              <div class="col-md-6">
                  <a class="btn " href="check" role="button" style="float:right;color:rgb(67, 6, 95); outline: 2px solid rgb(68, 7, 83);">Doctor leave details<i class="fas fa-arrow-right"></i></a>
                  
              </div>
          </div>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div>
      
    {% if messages %}
    <a class="btn" href="leave_form">click here to go back</a>
       <ul class="messages">
         {% for k in messages %}
         <li style="color: crimson;">{{k}}</li>
         {% endfor %}
        </ul>
    {% endif %}
  </div>
  <br>
  <div>
    {% if sr %}
    <a class="btn" href="leave_form">click here to go back</a>
      {% for k in sr %}
      <table class="table  table-hover text-center">
        
        <thead class="text-muted">
        <tr>
        <th>Doctor ID</th>
     
        <th>Doctor Name</th>
        
        <th>Department</th>
        
        <th>Phone No.</th>
        
        <th>Email Id</th>

        <th>Date of joining</th>
        
        </tr>
       </thead >
       <tbody style="color:green">
          <tr>
              <td>{{k.doc_no}}</td>
              <td>{{k.doc_name}}</td>
              <td>{{k.dname}}</td>
              <td>{{k.doc_phone}}</td>
              <td>{{k.doc_email}}</td>
              <td>{{k.doj}}</td>
          </tr> 

       </tbody>
      </table>
      {% endfor %}
       
    {% endif %}

  </div>
  <center>
  <div class="col-xl-6 col-12 mb-4 mb-xl-0" >
    <div class="row align-items-center">
        <div class="col-xl-12 col-12">
          
            <div class="card mt-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-12">
                        <h4>Doctor leave Form</h4>
                    </div>
                    
                </div>
                </div>
                <div class="card-body">
                  <form class="ml-3" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="col-md-6  mb-3">
                        <label for="validationDefault01">Doctor Id</label>
                        <input type="text" class="form-control" id="doctor_no" name="doctor_no"  required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Doctor Name</label>
                        <input type="text" class="form-control" id="doctor" name="doctor"  required>
                      </div>
                      
                     
                    </div>
                   
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault06">Department</label>
                          <select class="form-control" id="dept_list" name="dept_list" required>
                            <option selected disabled >Choose...</option>
                            {% for department in departments %}
                            <option value={{department.dname}}>{{department.dname}}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault05">On Leave</label>
                        <input type="Date" class="form-control" id="date" name="date" required>
                      </div>
                      
                      {% for messages in messages %}
                      <h5>{{messages}}</h5>
                      {% endfor %}
                    </div>
                    
                    <button type="button" id="save4" class="btn btn-primary">Save</button>
                    
                    
                   
                  </form>
                </div>
            </div> </center>   
           
          </div>
       
    </div>
    <!-- Modal -->

  </div>
{% endblock %}